<menu-content [title]="this.title" [menuOptions]="this.menuOpions">
  <h1>Panel konfiguracyjny</h1>
  <form [formGroup]="configurationForm">
    <div>
      <mat-form-field>
        <input matInput="" formControlName="pesel" placeholder="Pesel">
        <mat-error *ngIf="this.pesel.hasError('required')">
          Pesel jest <strong>wymagany</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <h3>Adres korespondencyjny</h3>
    <div formGroupName="address" class="addressForm">
      <div>
        <mat-form-field>
          <input matInput="" formControlName="town" placeholder="Miasto">
          <mat-error *ngIf="this.town.hasError('required')">
            Miasto jest <strong>wymagane</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput="" formControlName="street" placeholder="Ulica">
          <mat-error *ngIf="this.street.hasError('required')">
            Ulica jest <strong>wymagana</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput="" formControlName="number" placeholder="Numer">
          <mat-error *ngIf="this.number.hasError('required')">
            Number jest <strong>wymagany</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput="" formControlName="postalCode" placeholder="Kod pocztowy">
          <mat-error *ngIf="this.postalCode.hasError('required')">
            Kod pocztowy jest <strong>wymagany</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div>
      <mat-form-field>
        <input matInput="" formControlName="password" placeholder="Hasło">
        <mat-error *ngIf="this.password.hasError('required')">
          Hasło jest <strong>wymagane</strong>
        </mat-error>
      </mat-form-field>
    </div>
  </form>

  <div class="center">
    <button mat-raised-button color="primary" disabled="{{!isValid}}" (click)="sendUserData()">Konfiguruj konto</button>
  </div>
</menu-content>
