h1, h3 {
  font-family: Arial, serif;
}

h1 {
  text-align: center;
}

h3 {
  margin-left: 100px;
}

mat-form-field {
  width:50%;
  min-width: 300px;
}

.addressForm {

}

.addressForm mat-form-field {
  width: 40%;
  min-width: 200px;
  margin-left: 100px;
}

form {
  margin-left: 75px;
  margin-right: 75px;
}

.center {
  text-align: center;
  padding:50px;
}
