<menu-content [title]="this.title" [menuOptions]="this.menuOpions">
  <h1>Panel konfiguracyjny</h1>
  <form [formGroup]="configurationForm">
    <div>
      <mat-form-field>
        <input matInput="" formControlName="pesel" placeholder="Pesel"  >
        <mat-error *ngIf="this.pesel.hasError('required')">
          Pesel jest <strong>wymagany</strong>
        </mat-error>
        <mat-error *ngIf="!(this.pesel.hasError('required') || this.pesel.hasError('pattern')) && (this.pesel.hasError('minlength') || this.pesel.hasError('maxlength'))">
          Pesel ma <strong>złą ilość cyfr</strong>
        </mat-error>
        <mat-error *ngIf="this.pesel.hasError('pattern')">
          Pesel ma mieć <strong>tylko cyfry</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <h3>Adres korespondencyjny</h3>
    <div formGroupName="address" class="addressForm">
      <div>
        <mat-form-field>
          <input matInput="" formControlName="town" placeholder="Miasto">
          <mat-error *ngIf="this.town.hasError('required')">
            Miasto jest <strong>wymagane</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput="" formControlName="street" placeholder="Ulica">
          <mat-error *ngIf="this.street.hasError('required')">
            Ulica jest <strong>wymagana</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput="" formControlName="number" placeholder="Numer">
          <mat-error *ngIf="this.number.hasError('required')">
            Number jest <strong>wymagany</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput="" formControlName="postalCode" placeholder="Kod pocztowy">
          <mat-error *ngIf="this.postalCode.hasError('required')">
            Kod pocztowy jest <strong>wymagany</strong>
          </mat-error>
          <mat-error *ngIf="this.postalCode.hasError('pattern')">
            Kod pocztowy <strong>musi mieć format</strong> xx-xxx
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div>
      <mat-form-field>
        <input matInput="" formControlName="password" placeholder="Hasło" type="password">
        <mat-error *ngIf="this.password.hasError('required')">
          Hasło jest <strong>wymagane</strong>
        </mat-error>
        <mat-error *ngIf="!this.password.hasError('required') && (this.password.hasError('minlength') || this.password.hasError('maxlength'))">
          Hasło ma <strong>mieć od 5 do 15 znaków</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput="" formControlName="repeatPassword" placeholder="Powtórz hasło" type="password">
        <mat-error *ngIf="this.repeatPassword.hasError('wrongPassword')">
          Powtórzone hasło się <strong>nie zgadza</strong>
        </mat-error>
      </mat-form-field>
    </div>
  </form>

  <div class="center">
    <button mat-raised-button color="primary" disabled="{{!isValid}}" (click)="sendConfigurationData()">Konfiguruj konto</button>
  </div>
</menu-content>
